<html>
<head>
        <title>Consulta de compras</title>
</head>
<body>
        <div>
                {% block content %}
                <h1>Consulta compras</h1>
                <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>{{ form.submit_buy() }}</p>
                <p>{{ form.submit_user() }}</p>
                </form>
                {% endblock %}
        </div>
</body>
<html>

